body
{   
    background-color: white;
    font-family: Oxanium;
}

.container
{
    width: 50%;
    margin: auto;
}

.title
{
    text-align: center;
    color: black;
}

.form
{
    margin-left:0%;
}

.counter{
    margin-top: 90px;
}

.all-products
{
    text-align:center;
    margin-top: 180px;
}

h2
{
    background-color: rgb(238, 238, 238);
}

input
{
    margin-left: 12%;
    background-color:white;
    float: left;
    outline: 0px;
    border: 0px solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
    padding-right: 200px;
    font-size: 20px;
}

.submit-button 
{
    margin-left: 3%;
    margin-top: -1.5%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: black;
    background-image: linear-gradient(to top left,
                                      rgba(255, 255, 255, 0.2),
                                      rgba(255, 255, 255, 0.2) 30%,
                                      rgba(255, 255, 255, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.submit-button:hover 
{
    background-color: rgb(59, 226, 25);
}

.submit-button:active 
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

label
{
    align-content: center;
    float: left;
}

.number
{
    margin-left: 2%;
    float: left;
    color: red;
}

.remove-button
{
    float: right;
    margin-right: 22px;
    margin-bottom: 50px;
}

.remove-all-button 
{
    align-items: center;
    margin-top: -1.5%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: black;
    background-image: linear-gradient(to top left,
                                      rgba(255, 255, 255, 0.2),
                                      rgba(255, 255, 255, 0.2) 30%,
                                      rgba(255, 255, 255, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.remove-all-button:hover 
{
    background-color: rgb(255, 0, 0);
}

.remove-all-button:active 
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
